.array-bar {
    width: 2px;
    background-color: pink;
    display: inline-block;
    margin: 0 1px;
}

.array-container {
    position: absolute;
    left: 350px;

    /*
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center; */
}